# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/bash
# You can also override PATH, but by default, newer versions inherit it from the environment
#PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
PATH=/etc/scripts:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name command to be executed
24 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
23 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
28 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
49 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#0 */4	* * *  rm -rf /etc/mrt/*
#30 03	01 */3 * certbot --force-renew -d secure.ali-algburi.sb.uclllabs.be
#30 03	01 */3 * certbot --force-renew -d supersecure.ali-algburi.sb.uclllabs.be
#*/15 *	* * * ./etc/scripts/msql.sh
#*/1 *	* * *	root ( cd /etc/scripts && ./etc/scripts/msql2.sh )
#*/1 *	* * * ./etc/scripts/incron_config.sh
#*/1 *	* * * ./etc/scripts/leiab.sh
#
